<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
  <!-- use the font -->
  <style>
      body {
          font-family: 'Roboto', sans-serif;
          font-size: 48px;
      }

  </style>
</head>
<body>
<p>Dear <em th:text="${userName}"/>,</p>
<p> Please click the link below to change your password: <em th:text="${link}"/></p>

<p>
  Regards, <br/>
  <em th:text="${sign}"></em>
</p>
<p><img src="#" alt=""></p>
</body>
</html>